<div class="dashboard">
  <h1 class='heading'>Task Manager</h1>

  <ul class='nav'>
    <li><a class='link' href="/tasks">Task Index</a></li>
    <li><a href="/tasks/new">New Task</a></li>
  </ul>
</div>
