<form action="/tasks" method="post">
  <legend>new task:</legend>
  <input type='text' name='task[title]' placeholder='title'/><br/>
  <textarea name='task[description]' placeholder='description'></textarea><br/>
  <button type='submit' value="create">create</button>
</form>
