
<div class=indi-task>
  <h1><%= @task.title %></h1>
</div>
<div class="task-desc">
  <p><%= @task.description %></p>
</div>
<footer class='link-index'>
  <a href="/tasks">back to all tasks</a>
</footer>
